<title>Detalhes {{ Nome_cultivo }}</title>
<h2>Nome do Cultivo {{ Nome_cultivo }}</h2>
<br>
<p>Preço de venda: {{ Preco_de_venda_cultivo }}</p>
<br>
<p>Estação de plantio: {{ Estacao }}</p>
<br>
<p>Energia: {{ Energia }}</p>
<br>

<div id="outputContainer"></div><br><br>
<div id="outputC"></div>
<label for="colheitas">Colheitas:</label>
<select type="number" id="colheitas" (change)="onChangeDescricao()" required #descricaoSelect>
    <option value="0"></option>
    <option value="1">1</option>
    <option value="2">2</option>
</select><br>
<fieldset id="fieldsetPromocional">
    <legend>Imagem:</legend>
    <article class="img_des_container">
    <section [ngClass]="Estagio_1_descricao ? 'des_container' : 'des_container-hidden'">
        <div *ngIf="Estagio_1_descricao" class="ng-untouched">
            <img id="imagem_1" class="imagem-container" [src]="Imagem_estagios_1">
            <label> {{ Estagio_1_descricao }} </label>
        </div>
    </section>

    <section [ngClass]="Estagio_2_descricao ? 'des_container' : 'des_container-hidden'">
        <div *ngIf="Estagio_2_descricao" class="ng-untouched">
            <img id="imagem_2" class="imagem-container" [src]="Imagem_estagios_2">
            <label> {{ Estagio_2_descricao }} </label>
        </div>
    </section>

    <section [ngClass]="Estagio_3_descricao ? 'des_container' : 'des_container-hidden'">
        <div *ngIf="Estagio_3_descricao" class="ng-untouched">
            <img id="imagem_3" class="imagem-container" [src]="Imagem_estagios_3">
            <label> {{ Estagio_3_descricao }} </label>
        </div>
    </section>

    <section [ngClass]="Estagio_4_descricao ? 'des_container' : 'des_container-hidden'">
        <div *ngIf="Estagio_4_descricao" class="ng-untouched">
            <img id="imagem_4" class="imagem-container" [src]="Imagem_estagios_4">
            <label> {{ Estagio_4_descricao }} </label>
        </div>
    </section>

    <section [ngClass]="Estagio_5_descricao != '' ? 'des_container' : 'des_container-hidden'">
        <div *ngIf="Estagio_5_descricao" class="ng-untouched">
            <img id="imagem_5" class="imagem-container" [src]="Imagem_estagios_5">
            <label> {{ Estagio_5_descricao }} </label>
        </div>
    </section>

    <section [ngClass]="Colheita_1_descricao ? 'des_container' : 'des_container-hidden'">
        <div *ngIf="Colheita_1_descricao" class="ng-untouched">
            <img id="imagem_6" class="imagem-container" [src]="Imagem_colheita_1">
            <label> {{ Colheita_1_descricao }}</label>
        </div>
    </section>


    <section [ngClass]="Colheita_2_descricao ? 'des_container' : 'des_container-hidden'">
        <div *ngIf="Colheita_2_descricao" class="ng-untouched">
            <img id="imagem_7" class="imagem-container" [src]="Imagem_colheita_2">
            <label> {{ Colheita_2_descricao }}</label>
        </div>
    </section>
    </article>
</fieldset>
