<div class="container">
    <h2>Login</h2>

    <table class="forms">
        <tr>
            <td><label htmlFor="login">Usuario:</label></td>
            <td><input pInputText class="p-inputtext-sm" type="text" id="login" [(ngModel)]="login"></td>
        </tr>
        <tr>
            <td><label htmlFor="senha">Senha:</label></td>
            <td><input pInputText class="p-inputtext-sm" type="password" id="senha" [(ngModel)]="senha"></td>
        </tr>
        <br>
        <td>
            <p-button label="Logar" styleClass="p-button-text" (click)="fazerLogin()"></p-button>
        </td>
    </table>
</div>